<!-- Stefi De León -->
<!-- your html code here -->

<div class="container bg-white px-4 py-5">

    <div class="row pt-5">
        <div class="class-md-12 mb-2">
            <h1>Contact</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam velit nobis consequatur at rem, rerum nemo perferendis officia accusantium qui facere dolorum aliquam atque labore quos recusandae iusto laborum soluta!</p>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="card bg-secondary bg-opacity-10 p-0" style="width: 50rem;">
            <div class="card-body" >
                <form class="row g-3 " id="miFormulario">
                    <div class="col-md-3 d-flex justify-content-end fw-bold pe-4">
                        <label for="E-mail" class="col-form-label fw-semibold">Your E-mail </label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="E-mail" placeholder="Your email" required>
                    </div>
                  
                    <div class="col-md-3 d-flex justify-content-end pe-4">
                        <label for="message" class="form-label fw-bold">Your message </label>   
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control" id="message" placeholder="Please enter your message here..." rows="3"></textarea>
                    </div>
                </form>
            </div>
            
            <div class="d-grid gap-2 d-md-flex justify-content-md-end me-3 mb-3">
            <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
            
        </div>

    </div>

</div>