<!-- André Abreo -->
<!-- your html code here -->
<div class="container bg-white p-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <img class="rounded-circle img-fluid" src="https://raw.githubusercontent.com/4GeeksAcademy/TeamSAC-Collaborative-Website/master/website/assets/img/2.jpg" alt="laptop" class="img-fluid">
            </div>
            <div class="col-md-9">
                <h2>The Second Heading <span class="text-muted">Is Pretty Cool Too.</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa tenetur beatae maiores! Pariatur numquam ipsam voluptatem distinctio, ut reprehenderit omnis praesentium quisquam dolorem dolores consectetur, iusto ad? Amet.</p>
            </div>
        </div>  
    </div>
</div>
  
  
  
  
  